.pagination-wrapper {
  text-align: center;
  margin: 40px 0;
}

.pagination {
  display: inline-block;
  height: 70px;
  padding: 0 25px;
  border-radius: 35px;
}

.page-numbers {
  display: block;
  padding: 0 25px;
  float: left;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 70px;
}